---
title: UEGP N 73 Iglesia de Jesucristo
---

<div class="container iglesia">
  <h1>U.E.G.P. No 73</h1>

  <p>
    La escuela de nuestra institución, al igual que el resto de los
    ministerios de la iglesia, funciona como una empresa con el fin de
    bendecir a la gente. Sin hacer distinción entre evangélicos y aquellos que no lo son.
  </p>

  <p>
    Un 19 de enero de 1993, durante un campamento de vacaciones en el Salto Tabaí
    (Misiones, Argentina), Dios trajo palabra profética que nos decía:
    "Debemos preparar secularmente a los cristianos, instruirlos moralmente,
    con espíritu sano, para que se integren y tengan visión de gobernantes, no
    de peones, porque asi dice la Biblia "seamos cabeza y no cola".
  </p>

  <p>
    Esta profecía se hizo realidad en el año 1996,cuando el Instituto Privado
    “Iglesia de Jesucristo” U.E.P. 73 abrió sus puertas.
  </p>

  <p>
    La enseñanza está basada en principios bíblicos. Creemos que estudiar es
    un derecho de todo individuo y el aprender la biblia forma por completo a la persona
    que la estudia. Por eso en nuestra institución sostenemos que:
  </p>
 
  <p>
    La enseñanza debe tener bases firmes en la Palabra de Dios,
    la cual es útil para la comunicación en la comunidad educativa, se debe hacer con respeto mutuo. 
    Nuestra escuela debe funcionar siempre como un ministerio.
    Lo importante es hacer todo conforme al deseo de Dios, promocionando calidad educativa. 
  </p>

  <p>
    Para enterarse de las novedades de la escuala puede visitar:
  </p>

  <ul>
    <li>
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100009241420633">
        Facebook del Jardin Iglesia de Jesucristo
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.facebook.com/Uep73/">
        Facebook de la escuela secundaria
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.facebook.com/UEGP-N%C2%BA-73-Iglesia-de-Jesucristo-578854428951761/">
        Facebook de la escuela primaria
      </a>
    </li>
  </ul>

</div>
