---
title: Misión y Visión de Iglesia de Jesucristo
---

<div class="container iglesia">
  <h1>Misión - Visión</h1>

  <p>
    La visión que tenemos como institución es llegar al mundo entero
    con la palabra del Señor y brindarle a las personas atención en todas las áreas de su vida.
  </p>
  <p>
    Por eso nuestra misión tiene como base fundamental predicar el evangelio
    y para ello se creó una emisora radial, un canal de televisión, la imprenta y
    nuestro sitio en internet, que constituyen la RCC (Red Cristiana de Comunicación).
    Además existe la Unidad Educativa de Gestión Privada Nro. 73 que cuenta con jardín maternal
    y de infantes, escuela primaria y secundaria.
    También contamos con el Club Social y Deportivo "Dios es Fiel" y un gimnasio
    preparado para actividades físicas.
  </p>
  <p>
    Seguimos caminando hacia el Sanatorio, el Campo Deportivo con diferentes
    canchas y pileta de natación olímpica, para prepararse y competir en las ligas
    internacionales y además de ser usado en rehabilitación general. El Mercado completo
    donde se podrá acceder a alimentos, vestimenta, materiales de construcción y artículos en general.
  </p>

  <p>
    "Vamos a tener todo lo que necesitamos para desarrollar una vida confortable y a la manera de Dios".
  </p>

  <p>
    <strong>Pastor Juan "Tito" Ferrando.</strong>
  </p>
</div>
