---
title: Misión y Visión de Iglesia de Jesucristo
---

<div class="container iglesia">
  <h1>Misión - Visión</h1>

  <p>
    La carta de presentación que tenemos como iglesia, en nuestra sociedad y en cada lugar que llegamos, son los milagros de sanidad, restauración y prosperidad económica.
  </p>
  <p>
    La visión a la que el Señor nos llamó nace y se
    conduce bajo el poder del Espíritu Santo. La visión que
    tenemos como institución es llegar al mundo entero con la palabra del Señor
    y brindarle a las personas atención en todas las áreas de su vida.
  </p>
  <p>
    Por eso nuestra misión tiene como base fundamental predicar el evangelio
    y comenzó con la formación y creación de una emisora radial, un canal de televisión,
    la imprenta (que constituyen la RCC, Red Cristiana de Comunicación).
    La Unidad Educativa Privada Nro. 73 que cuenta con jardín maternal y de infantes,
    escuela primaria y secundaria, además contamos con Club Social y Deportivo "Dios es Fiel".
  </p>
  <p>
    Como institución vamos a seguir creciendo, teniendo todo lo que Dios nos quiere dar dentro de la visión.
    Seguimos caminando hacia el Sanatorio, el Campo Deportivo con diferentes canchas y pileta de
    natación olímpica, para prepararnos y competir en las ligas internacionales y además para ser usado en
    rehabilitación general, el Mercado completo donde se podrá acceder a alimentos, vestimenta,
    materiales de construcción y artículos en general.
  </p>

  <p>
    "Vamos a tener todo lo que necesitamos para desarrollar una vida confortable,
    a la manera de Dios y construir la Nación a la que El nos llamo".
  </p>
  <p>
    <strong>Pastor Juan "Tito" Ferrando.</strong>
  </p>
</div>
