
<section class="hero">

    <div class="hero-inner">

        <h1>Fundación Iglesia de Jesucristo</h1>
        <h2>Sirviendo con pasión por la gente</h2>

        <a href="/iglesia.html" class="button">conocer mas</a>

    </div>

</section>

<section class="clearfix">
    <div class="agenda half-width">
        <div class="inner">
            <i class="fa fa-clock-o"></i>
            <p>
                Ver la agenda de servicios y
                reuniones de la iglesia. Tambien
                horarios de programas de TV y radio.
            </p>
            <a href="/horarios.html" class="button">ver horarios</a>
        </div>
    </div>
    <div class="contacto half-width">
        <div class="inner">
            <i class="fa fa-map-signs"></i>
            <p>
                Acercate a conocernos. Ver
                como llegar a nuestro complejo
                y nuestra información de contacto.
            </p>
            <a href="/contacto.html" class="button">como llegar</a>
        </div>
    </div>
</section>
