---
title: Libros y Enseñanzas de Iglesia de Jesucristo
---
<section class="libros">
  <article class="libro">
    <div class="container">
      <img class="portada" src="/assets/img/portadas/carnaval.png" alt="Carnaval no es cultura" />
      <div class="info">

        <div class="titulo-descarga">

          <h2>Carnaval no es cultura</h2>
          <p class="autor">por <strong>Pastor Juan Ferrando</strong></p>

          <a class="button book-download" href="/assets/files/carnaval_no_es_cultura.pdf" target="_blank">
            <i class="fa fa-download"></i>
            <span>Descargar Libro</span>
          </a>

        </div>

        <p class="extracto">
          En los años que tengo como evangélico, siempre trate de buscar las respuestas en Dios
          y transmitirlas a las demás personas. En esta oportunidad quiero enseñarles y advertirles
          sobre el verdadero significado del carnaval y el origen de esta festividad.
          La mayoría de las personas considera que es una costumbre para divertirse,
          sin embargo ignora lo que en realidad está practicando.
        </p>
      </div>
    </div>
  </article>
</section>
