---
title: Libros y Enseñanzas de Iglesia de Jesucristo
---
<section class="libros">

  <article class="libro">
    <div class="container">
      <img class="portada" src="/assets/img/portadas/iglesia.png" alt="Morir para vivir" />
      <div class="info">

        <div class="titulo-descarga">

          <h2>Nacimiento y Crecimiento de la Iglesia</h2>
          <p class="autor">por <strong>Pastor Juan Ferrando</strong></p>

          <a class="button book-download" href="/assets/files/nacimiento_iglesia.pdf" target="_blank">
            <i class="fa fa-bookmark-o"></i>
            <span>Leer libro</span>
          </a>

        </div>

        <p class="extracto">
          La forma de vivir y  trabajar sobre esta tierra es proyectándonos hacia
          la vida eterna con Cristo, pero teniendo buenos cimientos, por eso es fundamental
          saber donde y cuando nació la Iglesia Verdadera y conocer nuestra identidad como cristianos.
        </p>
      </div>
    </div>
  </article>

  <article class="libro azul">
    <div class="container">
      <img class="portada" src="/assets/img/portadas/vision.png" alt="Morir para vivir" />
      <div class="info">

        <div class="titulo-descarga">

          <h2>Nuestra Visión</h2>
          <p class="autor">por <strong>Pastor Juan Ferrando</strong></p>

          <a class="button book-download" href="/assets/files/nuestra_vision.pdf" target="_blank">
            <i class="fa fa-bookmark-o"></i>
            <span>Leer libro</span>
          </a>

        </div>

        <p class="extracto">
          La visión que el Señor me llamó a desarrollar nació bajo el poder del Espíritu Santo.
          Milagros de sanidad, restauración, prosperidad económica, acompañan el crecimiento de la obra.
          Ésta es la carta de presentación que tenemos como Iglesia, en nuestra sociedad y en cada lugar
          que llegamos para bendecir a la gente.
        </p>
      </div>
    </div>
  </article>

  <article class="libro rojo">
    <div class="container">
      <img class="portada" src="/assets/img/portadas/bautismo.png" alt="Morir para vivir" />
      <div class="info">

        <div class="titulo-descarga">

          <h2>Morir para vivir</h2>
          <p class="autor">por <strong>Pastor Juan Ferrando</strong></p>

          <a class="button book-download" href="/assets/files/morir_para_vivir.pdf" target="_blank">
            <i class="fa fa-bookmark-o"></i>
            <span>Leer libro</span>
          </a>

        </div>

        <p class="extracto">
          La experiencia del bautismo marca un antes y un después en la vida de todo creyente.
          A través de este pequeño estudio podremos enseñar, y animar a los hermanos que todavía
          no pasaron por las aguas bautismales. Conociendo la responsabilidad y beneficios
          de esta gran decisión.
        </p>
      </div>
    </div>
  </article>

  <article class="libro naranja">
    <div class="container">
      <img class="portada" src="/assets/img/portadas/carnaval.png" alt="Carnaval no es cultura" />
      <div class="info">

        <div class="titulo-descarga">

          <h2>Carnaval no es cultura</h2>
          <p class="autor">por <strong>Pastor Juan Ferrando</strong></p>

          <a class="button book-download" href="/assets/files/carnaval_no_es_cultura.pdf" target="_blank">
            <i class="fa fa-bookmark-o"></i>
            <span>Leer libro</span>
          </a>

        </div>

        <p class="extracto">
          En los años que tengo como evangélico, siempre trate de buscar las respuestas en Dios
          y transmitirlas a las demás personas. En esta oportunidad quiero enseñarles y advertirles
          sobre el verdadero significado del carnaval y el origen de esta festividad.
          La mayoría de las personas considera que es una costumbre para divertirse,
          sin embargo ignora lo que en realidad está practicando.
        </p>
      </div>
    </div>
  </article>

  <div class="container">
    <h2 class="english-books-title">Libros en Inglés</h2>
  </div>

  <article class="libro azul">
    <div class="container">
      <img class="portada" src="/assets/img/portadas/our_vision.png" alt="Our Vision" />
      <div class="info">

        <div class="titulo-descarga">

          <h2>Our Vision</h2>
          <p class="autor">by <strong>Pastor Juan Ferrando</strong></p>

          <a class="button book-download" href="/assets/files/our_vision.pdf" target="_blank">
            <i class="fa fa-bookmark-o"></i>
            <span>Read Book</span>
          </a>

        </div>

        <p class="extracto">
          The vision that the Lord called us to develop was born under the power
          of the Holy Spirit. The miracles of healing, restoration and financial prosperity,
          accompany the growth of the work of the Lord constantly. This is the letter of presentation
          that we have as a church, in our society and in every place that we can reach to bless people
        </p>
      </div>
    </div>
  </article>

</section>
