
$assets: "../";

$gray: gray;
$dark-gray: #333;
$white: white;
$black: black;
$orange: #F36D3A;
$yellow: #D0991B;
$light-yellow: #FDE335;

$top-bar-height: 70px;
$top-bar-padding: 10px;

$light-gray-border: 1px solid darken(white, 20);


/*
Estilos generales
=================
*/

body {
    padding-top: $top-bar-height;
    font-family: "Open Sans", Helvetica, Arial;
}

button {
    outline: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

strong {
  font-family: "Open Sans", Helvetica, Arial;
  font-weight: 600;
}

.clearfix {
    overflow: hidden;
}

.container {
    margin: 0 20px;
}


/*
Boton
=====
*/

.button, button {

    background: none;
    border: 2px solid;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;

}


/*
Top Bar
=======
*/

$menu-break-width: 710px;

.top-bar {

    height: $top-bar-height;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: $white;
    box-shadow: 0 1px 3px transparentize($black, 0.9);
    display: flex;
    align-items: center;

    .radio-player-wrapper,
    .top-bar-logo {
        flex: 0 0 auto;
    }

    .top-bar-menu {
        flex: 1 1 0;
    }

    .mobile-menu-button {
        cursor: pointer;
        flex: 0 0 auto;
        height: $top-bar-height;
        width: $top-bar-height;
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-left: 1px solid darken(white, 20);
    }

    a {
        text-decoration: none;
    }

    @media screen and (max-width: $menu-break-width) {
        .mobile-menu-button {
            display: flex;
        }
        .top-bar-logo {
            flex: 1 1 auto;
        }
    }
}

.top-bar-logo {

    display: flex;
    align-items: center;

    img {
        height: 50px;
        margin: 0 20px;
    }
}

.top-bar-menu {

    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline;
        margin: 0 5px;
        font-size: 14px;

        a {
            color: $gray;
            display: inline-block;
            height: $top-bar-height;
            line-height: $top-bar-height;

            &:hover {
                color: $orange;
            }
        }
    }

    .close-mobile-menu {
        display: none;
    }

    @media screen and (max-width: $menu-break-width) {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparentize(black, 0.2);
        z-index: 2000;
        display: none;

        li {
            font-size: 40px;
            text-align: center;
            display: block;

            a {
                color: white;
            }
        }

        .close-mobile-menu {
            display: block;
        }

        .mobile-menu-open & {
            display: flex;
        }
    }
}

/*
Hero
====
*/

.hero {

    position: relative;
    background-image: url('#{$assets}/img/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: $white;

    a {
        color: $white;

        &:hover {
            color: $orange;
            border-color: $orange;
        }
    }

    h1, h2 {
        margin: 0;
    }

    h1 {
        font-size: 50px;
        font-weight: 600;
    }

    h2 {
        font-size: 30px;
        font-weight: lighter;
    }

    .button {
        margin-top: 30px;
    }

    .hero-inner {
        padding: 200px 20px;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;
    }

    @media screen and (max-width: 820px) {

        .hero-inner {
            padding: 100px 20px;
        }

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 20px;
        }
    }

    @media screen and (max-width: 500px) {

        .hero-inner {
            padding: 60px 20px;
        }

        h1 {
            font-size: 28px;
        }

        h2 {
            margin-top: 20px;
            font-size: 20px;
        }
    }
}


/*
Half width
==========
*/

.half-width {

    background-color: lighten(black, 10);
    width: 50%;
    float: left;
    font-size: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $white;

    a {
        color: $white;
        font-size: 16px;

        &:hover {
            color: darken($white, 20);
            border-color: darken($white, 20);
        }
    }

    i {
        font-size: 40px;
    }

    p {
        margin-top: 5px;
    }

    .inner {
        box-sizing: border-box;
        height: 360px;
        padding: 50px;
    }

    &.agenda {
        background-image: url('#{$assets}/img/alabanza.jpg');

        .inner {
            background-color: rgba($orange, 0.8);
        }
    }

    &.contacto {
        background-image: url('#{$assets}/img/musica.jpg');

        .inner {
            background-color: rgba($yellow, 0.8);
        }
    }

    @media screen and (max-width: 1000px) {

        font-size: 20px;
    }

    @media screen and (max-width: 630px) {

        font-size: 20px;
        float: none;
        width: 100%;

        .inner {
            padding: 30px;
            height: auto;
        }
    }

}

/*
Forms and Social
================
*/

$forms-and-social-break-width: 785px;

.forms-and-social {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $forms-and-social-break-width) {
    display: block;
  }
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  a {
    text-decoration: none;
    color: gray;

    &:hover {
      color: #03a9f4;
    }
  }

  .fa {
    font-size: 60px;
    color: #03a9f4;
    margin-right: 20px;
  }

  ul {
    list-style: none;
    font-size: 20px;
    margin: 20px;
    padding: 0;

    li {
      padding: 10px 0;
      border-bottom: $light-gray-border;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  @media screen and (max-width: $forms-and-social-break-width) {

    display: block;
    padding: 20px;

    .fa {
      display: block;
      text-align: center;
      margin: 10px 0;
      font-size: 40px;
    }

    ul {
      margin: 0;
      font-size: 16px;
    }
  }
}


/*
Social call
===========
*/

.social {

    padding: 30px;
    font-size: 20px;
    color: $gray;
    line-height: 1.5em;
    border-left: $light-gray-border;

    a {
      color: $gray;
      text-decoration: none;
    }

    .fb-like {
      margin-top: 10px;
      display: block;
    }

    @media screen and (max-width: $forms-and-social-break-width) {
      padding: 20px;

      border-left: 0;
      border-top: $light-gray-border;
      text-align: center;
    }
}



/*
Footer
======
*/

footer {

    padding: 20px 0;
    font-size: 14px;
    background-color: darken(white, 10);

    a {
        color: $gray;
        text-decoration: none;
    }

    ul {
        list-style: none;
        float: right;
        padding: 0;
        margin: 0;

        li {
            display: inline;
            margin-right: 16px;
        }
    }

    @media screen and (max-width: 550px) {
        line-height: 2em;

        ul {
            float: none;
        }
    }
}


/*
Radio player
============
*/

$radio-break-width: 460px;

.radio-initialized {
    @media screen and (max-width: $radio-break-width) {
        padding-bottom: $top-bar-height;
    }
}

.radio-player-wrapper {

    &.radio-popup {

        float: left;
        width: 100%;

        .radio-player {
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width: $radio-break-width) {
        .radio-initialized & {
            float: none;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    }
}

.radio-player-init {
    border: 0;
    padding: 0;
    line-height: $top-bar-height;
    background-image: url('#{$assets}/img/radio.jpg');
    background-repeat: no-repeat;
    background-size: 40px auto;
    background-position: center left;
    padding: 0 20px 0 50px;
    color: $gray;

    @media screen and (max-width: $radio-break-width) {

        display: block;
        padding-right: 0;
        height: $top-bar-height;

        & > span {
            display: none;
        }
    }
}

.radio-player {

    height: $top-bar-height;
    background: $dark-gray;
    padding: 0 20px;
    color: $white;
    display: flex;
    align-items: center;

    button {
        flex: 0 0 auto;
        width: 40px;
        color: $white;
        border: 0;
        height: 100%;
        padding: 10px;
    }

    .slider {
        flex: 1 1 auto;
        height: 2px;
        width: 100px;
        display: inline-block;
        background-color: $gray;
        margin-right: 10px;

        .handle {
            top: -4px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: $white;
            cursor: pointer;
            cursor: grab;
        }
    }
}


/*
Agenda
======
*/

.agenda {

    background-color: darken($white, 5);

    .days {
        padding: 50px 0;
    }

    .day-row {
        display: flex;
    }

    .day {
        width: 300px;
        flex: 0 0 auto;

        .day-name {
            color: $orange;
            font-size: 120px;
            font-weight: 600;
            line-height: 0.8;
            display: block;
            clear: both;
        }

        .day-number {
            font-size: 30px;
            line-height: 30px;
            margin-left: 5px;
        }

        .hoy {
            background: $light-yellow;
            color: black;
            font-size: 20px;
            font-weight: 600;
            padding: 0 10px;
            vertical-align: middle;
            margin-left: 5px;
        }
    }

    .events {

        width: calc(100% - 350px);
        flex: 1 1 auto;

        .event {
            color: $gray;
            padding: 20px 0;
            border-top: 1px solid darken($white, 20);
            display: flex;

            .time {
                width: 120px;
                font-size: 35px;
                line-height: 0.9;
                color: lighten($gray, 20);
                flex: 0 0 auto;
            }

            .info {
                flex: 1 1 auto;
            }

            h3 {
                font-weight: lighter;
                font-size: 40px;
                margin: 0;
                line-height: 0.8;
                color: black;
            }

            .tipos {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    white-space: nowrap;
                    display: inline;
                    margin-right: 20px;
                    float: left;
                }
            }
        }
    }

    .filters {

        color: $white;
        background-color: lighten(black, 30);
        padding: 20px 0;

        .filtrar-label {
            margin-right: 50px;
            margin-left: 10px;
            color: darken(white, 20);
        }

        ul {
            list-style: none;
            padding: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            li {

                white-space: nowrap;

                input {
                    margin-right: 5px;
                    outline: none;
                }

                label {
                    cursor: pointer;
                }

                display: inline;
                margin-right: 20px;
            }
        }
    }

    @media screen and (max-width: 900px) {
        .days {
            padding: 30px 0;
        }

        .day {
            width: 180px;

            .day-name {
                font-size: 60px;
            }

            .day-number {
                font-size: 20px;
                line-height: 20px;

                .hoy {
                    font-size: 14px;
                }
            }
        }

        .events {
            .event {

                h3 {
                    font-size: 30px;
                }

                .time {
                    width: 90px;
                    font-size: 25px;
                }
            }
        }
    }

    @media screen and (max-width: 530px) {
        .day-row {
            display: block;
            margin-bottom: 10px;

            .day, .events {
                width: 100%;
            }
        }

        .day {
            line-height: 40px;
            .day-name {
                font-size: 40px;
                clear: none;
                display: inline;
            }

            .day-number {
                font-size: 20px;

                .hoy {
                    font-size: 14px;
                }
            }
        }

        .events {
            .event {

                h3 {
                    font-size: 20px;
                }

                .time {
                    width: 80px;
                    font-size: 20px;
                }
            }
        }
    }

    @media screen and (max-width: 470px) {
        .filters {
            ul {
                .filtrar-label {
                    display: block;
                    margin: 0 0 10px 0;
                }
            }
        }
    }
}

/*
Iglesia
=======
*/

.iglesia {
  margin-bottom: 40px;
  p {
    font-size: 20px;
  }
}

/*
Contacto
========
*/

.contacto-seccion {
  background-color: #f1f1f1;
  padding: 10px 0;
  p {
    font-size: 20px;
  }
}

/*
TV
==
*/

.tv {
    embed {
        width: 100%;
        height: 600px;
    }
}
