<!doctype html>
<html class="no-js" lang="en">
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Fundacion Iglesia de Jesucristo</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" />
    <link rel="stylesheet" href="{{assets}}/css/ij.css" />

  </head>
  <body>

    {{>body}}

    <script src="{{assets}}/js/ij.js"></script>

  </body>
</html>
